@use '../Scss/breakpoints' as *;

.quote {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 0.75rem;
    line-height: 1.375rem;
    min-width: 324px;
    max-width: 573px;
    margin: 0 1.625rem;
    padding-top: 1.97rem;
    @include breakpoint-up(medium) {
        font-size: 1.125rem;
        line-height: 1.75rem;
        margin-left: 4rem;
        padding-top: 5rem;
    }
    @include breakpoint-up(large) {
        margin-left: 10.3125rem;
        padding-top: 3.5rem;
    }

    blockquote {
        padding-right: 1rem;
    }

    &__body {
        margin-bottom: 0.5rem;
        @include breakpoint-up(medium) {
            padding-top: 0.8125rem;
        }
    }

    &__author {
        font-style: normal;
        font-weight: bold;
    }

    &__refresh {
        cursor: pointer;
        opacity: 0.5;
        @include breakpoint-up(medium) {
            padding-top: 1rem;
        }
    }
}
