.spinner {
    position: fixed;
    top: calc(50% - 2.5rem);
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: 5rem;
    display: inline-block;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: 1s spin infinite ease-in-out;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
