.world-time {
    width: 308px;
    margin-bottom: 48px;
    display: grid;
    gap: 16px;
    text-transform: uppercase;

    &__greeting {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 3px;

        &-icon {
            margin-right: 16px;
        }
    }

    &__time {
        font-weight: bold;
        font-size: 100px;
        line-height: 100px;
        letter-spacing: -2.5px;
        margin-right: 13px;
    }

    &__time-zone-abbreviation {
        font-weight: 300;
        font-size: 15px;
        line-height: 28px;
    }

    &__location {
        font-size: 15px;
        line-height: 28px;
        letter-spacing: 3px;
    }
}
