@use '../Scss/breakpoints' as *;

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.time-button-wrapper {
    margin-top: auto;
    margin-left: 25px;
    margin-bottom: 40px;
    transition: 0.5s;
    @include breakpoint-up(medium) {
        margin-left: 64px;
        margin-bottom: 64px;
    }
    @include breakpoint-up(large) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto 165px 56px 165px;
    }
}
